@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");


body {
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  color: #333;
  justify-content: center;
  margin: 0px;
  text-align: center;
}

.container {
  width: 100%;
  text-align: center;
  padding: 50px;
  box-sizing: border-box;
}

form {
  position: fixed;
    bottom: 0;
    left: 0;  /* ensures the form is left-aligned */
    right: 0; /* ensures the form is right-aligned */
    display: flex;
    justify-content: space-between;
    padding:20px;
    background-color: rgba(255, 255, 255, 0.5);  /* semi-transparent white */
    backdrop-filter: blur(10px);  /* adds blur effect */
    z-index: 9999;  /* Adjust this value as necessary to ensure the form stays on top */
}

label {
  font-size: 1.2rem;
}

.maininput {
  padding: 0.5rem;
  font-size: 1rem;
  border: 5px solid rgb(190, 190, 190);
  border-radius: 20px;
  outline: none;
  margin: 0 auto;
  padding-left: 20px;
  font-weight: 600;
  width: 70%;
  background-color: rgb(255, 255, 255);
}

.maininput:focus {
  border-color: #440888;
}

input{
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  padding: 10px;
  border: none;
  width: 200px;
}

button {
  background-color: #400b7c;
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  font-weight: 600;
  
}

button:hover {
  border-width: 0;
  background-color: #c5550b;
  
}

.answer-section {
  margin-top: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.answer {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  color: rgb(66, 61, 47);
  font-size: 1.2rem;
  padding: 20px;
  text-align: center;
  width: 280px;
  margin: 0 auto;
  margin-top: 20px;
  word-break: break-word;
  box-shadow: 0 0 10px rgba(99, 65, 1, 0.3); 
  max-width: 86%;
}

h6{
  font-weight: 300;
  color: rgb(41, 41, 41);
  font-size: 12px;
  margin-top: 25px;
  margin-bottom: 0px;
}

.dap{
  color: #c27716;
  margin-bottom: -10px;
  margin-top: 3px;
  font-weight: 800;
  font-size: 14px;
  text-align: left;
  margin-left: 5px;
  font-weight: 700;
}

.answertext{
  font-size: 12px;
  margin-bottom: 1px;
  text-align: left;
  margin-left: 5px;
  font-weight: 500;
}

.viewFacts{
  margin-top: 30px;
  background-color: #333;
  font-size: 10px;
  font-weight: 200;
}
 
#help-link {
  margin-top: 20px;
  display: inline-block;
  font-size: 20px;
  color: rgb(231, 131, 17);
  margin-left: 5px;
}

#help-link:hover {
  color: #1d1f20;
 
}

h5{
  margin: 0 auto;
  margin:0px;
  font-size: 10px;
  font-weight: 500;
  color: rgb(104, 104, 104);
}

.relevant-facts{
  margin-top: 20px;
  
}

.relevanttext{
  font-size: 10px;
  list-style-type: disc;
  list-style-position: outside;
  background-color: #f7f7f7;
  border-radius: 10px;
  text-align: center;
  text-align: left;
  padding:15px;
  padding-left: 30px;
  margin-top: 15px;
}

.relevanttext li{
  margin-bottom: 5px;
  font-weight: 400;
  margin: 0px;
}

.relevanttitle{
  color: #000000;
  margin-bottom: -10px;
  margin-top: 30px;
  font-weight: 800;
  font-size: 12px;
  text-align: left;
  margin-left: 5px;
  font-weight: 500;
}

b{
  color: #e07d3b;
}

.user{
  color: white;
  line-height: 3vw;
  font-size: 3vw;
  border-radius: 15px;
  padding: 10px;
  order: -1;
  background-color: #6F5E93;
  max-width: 75%;
  width: 50%;
  align-self: flex-end;
  order: 1;
  margin-left: auto;
  margin-bottom: 10px;
}

.bot{
  color: rgb(0, 0, 0);
    line-height: 3vw;
    font-size: 3vw;
    border-radius: 15px;
    padding: 10px;
    background: #D9D9D9;
    max-width: 75%;
    width: 50%;
    align-self: flex-start;
    order: 2;
    margin-right: auto;
    margin-bottom: 10px;
}

.messages{
  margin-bottom:100px;
  margin-top: 50px;
}