

.navbar {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 35px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    border-bottom: 2px solid rgba(180, 180, 180, 0.5);
    box-shadow: 0 0 15px rgba(99, 65, 1, 0.3); 
  }
  
  .navbar ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin: 10px;
    font-weight: 400;
    padding: 5px;
    font-size: 14px;
  }
  
  .navbar li:first-child {
    margin-right: auto;
    font-size: 14px;
    font-weight: 700;
  }
  
  .navbar a {
    color: rgb(202, 98, 0);
    text-decoration: none;
    position: relative;
    transition: 0.2s;
    color: rgb(0, 0, 0);
    font-weight: 700;
    padding-bottom: 5px;
  }
  
  .navbar a:hover {
    color: rgb(224, 137, 37);
 
  }

  .navbar span.active {
    color: rgb(224, 137, 37);
    border-bottom: 4px solid rgb(224, 137, 37);
    padding-bottom: 8px;
  }
  
  .navlogout{
    height:17px;
    width: 55px;
    font-size: 8px;
    font-weight: 500;
    background-color: rgb(136, 136, 136);
    padding:0px;
  }

  .user{
    font-size: 8px;
    font-weight: 700;
    color: rgb(204, 101, 63);
    margin: 0px;
    padding:5px;
    border-radius: 5px;
    border: 1px solid orange;
  }
 


  
  