.loader {
    border: 10px solid #b9b9b9;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
    position: fixed;      /* Change from relative to fixed */
    top: 50%;             /* Center vertically */
    left: 50%;            /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for exact centering */
    z-index: 1000;     
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loader::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin: 2px;
    border-radius: 50%;
    background-color: #6d0f65;
    background: linear-gradient(to right, #ec88ec, #32056e);
  } 